table {
    border-collapse: collapse;
    width: 50%;
    height: 50px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 50px;
  }

  th, td {
    border: 1px solid black;
    padding: 15px;
    text-align:center;
  }

  th {
    border: none;
    color:black;
    cursor: pointer;
  }
  #req{
    background-color: skyblue;
  }
  #app,#hist,#bal{
    background-color: rgb(94, 173, 204);
  }
  #leaveForm,#leave-balance,#leave-approval,#leave-history{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50px;
    top:50px
  }
  #reason{
    position: relative;
    bottom: 35px;
    left: 13px;
  }
  input[type="date"]{
    width: 50%;
	padding:5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
}
  textarea{
    width: 50%;
    height: 50px;
	padding:5px;
    margin-bottom: 20px;
    position: relative;
    left: 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
input[type="submit"]{
    background-color:rgb(94, 173, 204) ;
    color: white;
    padding: 5px 20px;
	border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
}
input[type="submit"]:hover{
    background-color: #4CAF50;
}
#leave-balance,#leave-approval,#leave-history{
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    background-color: #fff;
}