body{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
  "side main"
  "side main";
  overflow: hidden;
}

.sidebar{
  background-color: #e9f0f2;
  grid-area: side;
  display: grid;
  grid-template-rows: 100px 500px;
  grid-template-areas:
  "r1"
  "r2"
  "r3"
  "r4";
}
.card2{
  align-items: center;
  justify-content: center;
}
.main{
  grid-area: main;
}
a{
  color: #000 !important;
  text-decoration: none !important;
  background-color: none !important;
}
h2{
  padding: 30px;
}
ul{
  list-style-type: none;
}
li{
  font-size: 15px;
}
img{
  width:150px;
  padding: 10px;
  mix-blend-mode: color-burn;
}
table {
  border-collapse: collapse;
  width: 30%;
  height: 50px;
  text-align: center;
  position: relative;
  top: 20px;
  left: 50px;
}

th, td {
  border: 1px solid black;
  padding: 15px;
  text-align:center;
}

th {
  border: none;
  color:black;
  cursor: pointer;
}
#cand{
  background-color: skyblue;
}
#int{
  background-color: rgb(94, 173, 204);
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
}
.section {
  background: transparent;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.section form {
  margin-top: 20px;
}
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"], input[type="number"] {
  width: 15%;
  padding: 5px;
  border-radius: 50px;
  border: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

select, input[type="date"], input[type="time"] {
  width: 15%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 0;
  margin-left: 5px;
  margin-right: 67px;
  margin-top: 15px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  width: 7%;
  height: 35px;
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="email"], textarea {
width: 50%;
padding: 5px;
margin-bottom: 10px;
}

#candidatesize,#interviewersize{
  margin-top: 15px;
  width:45%;
}
span{
color: red;
}
#cs{
background-color: white;
color:black;
}
.alert{
  width: 20%;
  height: 50px;
}
#si{
  width: 15%;
  position: relative;
  left: 180px;
}
#interviewSchedulingSection{
  position: relative;
  left: 50px;
}
.alert{
    text-align:center;
    margin-top:15px;
    position: relative;
    left: 130px;
}