body{
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "side header"
    "side main";
}

.header{
    grid-area: header;
}

.sidebar{
    background-color: #e9f0f2;
    grid-area: side;
    display: grid;
    grid-template-rows: 100px 500px;
    grid-template-areas:
    "r1"
    "r2"
    "r3"
    "r4";
}
.card2{
    align-items: center;
    justify-content: center;
}
.main{
    grid-area: main;
}
a{
    color: #000 !important;
    text-decoration: none !important;
    background-color: none !important;
}
h3{
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
}
ul{
    list-style-type: none;
}
li{
    font-size: 15px;
}
img{
    width:150px;
    padding: 10px;
    mix-blend-mode: color-burn;
}
span{
    color: red;
}
form {
    font-family: Arial, sans-serif;
    padding: 10px;
}
label {
    display: block;
    font-weight: bold;
}
.reg{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "left right";
}
.left-column {
    background-color: #f9f9f9;
    grid-area: left;
    border-radius: 10px;
}
.right-column {
    background-color: #f0f0f0;
    grid-area: right;
    border-radius: 10px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}
input[type="date"],select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}
input[type="number"],input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}
#mobileNumber{
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 25%;
    position: relative;
    left: 200px;
    bottom: 20px;
}
.first{
    padding-left: 80px;
}
.second{
    padding-left: 40px;
}
.alert{
    width: 25%;
    height: 50px;
    position: relative;
    bottom: 10px;
    left: 900px;
}