#main_table {
    border-collapse: collapse;
    width: 100%;
    height: 100px;
    text-align: center;
  }

  #m{
    border: 1px solid black;
    padding: 15px;
    text-align:center;
    background-color:skyblue;
    color:black;
    cursor: pointer;
  }
  .section {
    background: transparent;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #total_table{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
  }
  #t{
    height: 70px;
    border: 1px solid black;
    text-align:center;
    color:black;
  }
  input[type="number"]{
    width: 15%;
    border-radius: 50px;
  }
  input[type="date"]{
    border-radius: 5px;
  }