body{
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "side main"
    "side main";
}

.sidebar{
    background-color: #e9f0f2;
    grid-area: side;
    display: grid;
    grid-template-rows: 100px 500px;
    grid-template-areas:
    "r1"
    "r2"
    "r3"
    "r4";
}
.sbar2{
    align-items: center;
    justify-content: center;
}
.main{
    grid-area: main;
    display: grid;
    grid-template-rows: 70px 675px;
    grid-template-areas:
    "heading"
    "train";
}
.h{
    grid-area: heading;
}
.b{
    grid-area: train;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "c1 c2 c3 c4"
    "c5 c6 c7 c8"
    "c9 c10 c11 c12";
    gap: 25px;
    padding: 25px;
}
.card:nth-child(1){
    border-radius: 10px;
    grid-area: c1;
}
.card:nth-child(2){
    border-radius: 10px;
    grid-area: c2;
}
.card:nth-child(3){
    border-radius: 10px;
    grid-area: c3;
}
.card:nth-child(4){
    border-radius: 10px;
    grid-area: c4;
}
.card:nth-child(5){
    border-radius: 10px;
    grid-area: c5;
}
.card:nth-child(6){
    border-radius: 10px;
    grid-area: c6;
}
.card:nth-child(7){
    border-radius: 10px;
    grid-area: c7;
}
.card:nth-child(8){
    border-radius: 10px;
    grid-area: c8;
}
.card:nth-child(9){
    border-radius: 10px;
    grid-area: c9;
}
.card:nth-child(10){
    border-radius: 10px;
    grid-area: c10;
}
.card:nth-child(11){
    border-radius: 10px;
    grid-area: c11;
}
.card:nth-child(12){
    border-radius: 10px;
    grid-area: c12;
}
a{
    color: #000 !important;
    text-decoration: none !important;
    background-color: none !important;
}
h2{
    padding: 30px;
}
ul{
    list-style-type: none;
}
li{
    font-size: 15px;
}
#logo{
    width:150px;
    padding: 10px;
    mix-blend-mode: color-burn;
}
.images{
    width:100%;
    height:107% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#cloud{
    width:100%;
    height:100% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#sdlc{
    width:100%;
    height:127% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#dsa{
    width:100%;
    height:114% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#ds{
    width:100%;
    height:119% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#oops{
    width:100%;
    height:106% ;
    box-sizing: border-box;
    border-radius: 10px;
}
#cs{
    width:100%;
    height:135% ;
    box-sizing: border-box;
    border-radius: 10px;
}